# PostgreSQL credentials
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo
POSTGRES_DB=your-db-name
POSTGRES_PORT=15432

# Odoo ports
ODOO_PORT=18069
ODOO_LONGPOLLING_PORT=18072

# Adminer (database browser)
ADMINER_PORT=18070

# Nginx Proxy Manager DB password
NPM_DB_PASSWORD=npmsecret
